* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.5 Helvetica, sans-serif;
    width: 80%;
    margin: 2em auto;
    padding: 1em;
}

header {
    display: flex;
    border-bottom: 2px solid rgb(0, 0, 0);
    align-items: baseline;
    justify-content: space-between;
}

header p {
    font-size: 30px;
    flex: 1 1 40%;
    font-weight: bold;
    padding-bottom: 1em;
}

header ul {
    display: flex;
    flex: 1 1 auto;
    text-wrap: wrap;
}

header li {
    display: block;
    margin: 0 1em;
}

header li a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}

article p {
    padding-bottom: 1em;
    color: black;
}

main h1 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1.1;
    padding: 0.9em 0;
}