/*
#786eff - lilavo
#f6f8f9 - svetlo sivo
#646f79 - tumno sivo
#273240 - zaglavia 
*/

/* Box sixing rules and remove default margin and padding */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    color: #273240;
}

.enterprice {
    background-color: #f6f8f9;
    padding: 0 24px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1652px;
    line-height: 1.5em;
    margin: 60px auto;
}

.enterprice .info {
    width: 40%;
    padding: 48px 0;
}

.enterprice .subtitle {
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: normal;
}

.enterprice .title {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: normal;
}

.enterprice .desc {
    margin-bottom: 20px;
    color: #646f79;
}

.enterprice .btn {
    all: unset;
    border: 1px solid #273240;
    padding: 12px 18px;
    border-radius: 6px;
}

.enterprice .btn.btn-primary {
    border-color: #786eff;
    background-color: #786eff;
    color: white;
    margin-right: 12px;
}

.enterprice .img {
    width: 30%;
    height: auto;
}
